@{
    ViewData["Title"] = "Home Page";
}

<div id="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-light" asp-action="Index" asp-controller="Book">Books</a>
        </div>
    </div>
</div>