@{
    Layout = "_AdminLayout";
}

<div id="adminPanel" class="row">
    
    <div class="col-4">
        <a class="btn btn-info" href="author/create">Create author</a>
    </div>
    <div class="col-4">
        <a class="btn btn-info" href="book/create">Create book</a>
    </div>

</div>
<div id="noAdmin">

    <h1>Y not a admin</h1>

</div>