@inject IConfiguration _config

<partial name="_SearchBookPartial"></partial>

<div id="booksContainer" class="row">
</div>

@section Scripts {
    <script>
        @{
            string Url = _config.GetSection("API:Book").Value + "/by-filter";
            string LikeUrl = _config.GetSection("API:Book").Value + "/like";
        }
            $(document).ready(async function () {
                await fetchBooks(0, '', 0)
                $('#searchBookForm').on('submit', function(event){
                    event.preventDefault();
                    fetchBooks(0, event.target.name.value, 0)
                })
            })

        async function fetchBooks(page, name, status) {
            let container = $('#booksContainer');
            $.ajax({
                url: `@Url?page=${page}&status=${status}&name=${name}`,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('access'),
                },
                success: function (data) {
                    container.empty();
                    data.forEach(book => ViewHelper.includeBooks(book, container, '@LikeUrl'))
                },
            })
        }
    </script>
}