@using Serdiuk.BookShop.Domain.Models.Identity.DTO
@model LoginRequestDto
@inject IConfiguration _config;

@{
    string message = String.Empty;

    if (!string.IsNullOrWhiteSpace(message))
    {
        <label>@message</label>
    }
}

<div class="alert-danger" id="alert-error-holder" style="display:none">
    <p id="alert-error-text"></p>
</div>


<div class="row">
    <form id="loginForm" class="col-3" onsubmit="login(event, @message)">
        <div>
            <label for="emailInput">Email</label>
            <input class="form-control form-text" id="emailInput" name="email" />
        </div>
        <div>
            <label for="passwordInput">Password</label>
            <input class="form-control form-text" id="passwordInput" type="password" name="password" />
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>

@section Scripts {
    @{
        string Url = _config.GetSection("API:Account").Value + "/Login";
    }
    <script>
        function login(e, message) {
            e.preventDefault();
            var formData = {
                email: $("#emailInput").val(),
                password: $("#passwordInput").val()
            };

            $.ajax({
                type: 'POST',
                url: '@Url',
                data: JSON.stringify(formData),
                processData: false,
                contentType: 'application/json',
                success: async function (response) {

                    if (response.result) {
                        await TokenClass.updateTokens(response.token, response.refresh)
                        window.location.href = '/'
                    } else {
                        $("#alert-error-holder").show();
                        $('#alert-error-text').text(responce.errors);
                    }
                },
                error: function (xhr, status, error) {

                    message = 'Error with status: ' + status;
                }
            })
        }
    </script>
}