<div id="adminDiv" class="row" style="display:none">
    <a href="/admin/home" class="col mx-1 btn btn-warning">Admin Panel</a>
</div>

<div id="isAuthDiv" style="display:none">
    <a class="btn btn-info btn-sm" asp-action="Profile" asp-controller="Account">To Profile</a>
</div>
<div id="loginDiv" class="row">
    <div class="col mx-1">
        <a class="btn btn-outline-primary" asp-action="Login" asp-controller="Account">Login</a>
    </div>
    <div class="col">
        <a class="btn btn-outline-primary" asp-action="Register" asp-controller="Account">Register</a>
    </div>
</div>

