<div id="adminDiv" class="row" style="display:none">
    <a href="/admin/home" class="col mx-1 btn btn-warning">Admin Panel</a>
</div>

<div id="isAuthDiv" style="display:none">
    You authorize
</div>
<div id="loginDiv">
    LOGIN PLZ
</div>

