<div id="adminDiv" class="row" style="display:none">
    <a href="/admin/home" class="col mx-1 btn btn-warning">Admin Panel</a>
</div>

<div id="isAuthDiv" style="display:none">
    <a class="btn btn-info btn-sm" asp-action="Profile" asp-controller="Account">To Profile</a>
</div>
<div id="loginDiv">
    LOGIN PLZ
</div>

