html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.stable-img {
    width: 200px;
    height: 200px;
}
.clickable{
    cursor: pointer,
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}