@inject IConfiguration _config
@model Guid

<div id="authorContainer">
    <h2>Author</h2>
    <div>
        <span id="author-name"></span> <span id="author-lastname"></span>
    </div>
    <div id="books-container" class="row">
        <h3>Books</h3>
    </div>
</div>

@section Scripts{
    @{
        string Url = _config.GetSection("API:Author").Value + "/get-by-id?authorId=" + Model;
    }
    <script>

        $(document).ready(async function () {
            fetchAuthor('@Model');
        })
        function fetchAuthor(id) {
            $.ajax({
                url: '@Url',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('access'),
                },
                success: function (data) {
                    includeAuthor(data);
                }
            })
        }
        function includeAuthor(data) {
            let container = $("#authorContainer");

            $('#author-name').text(data.firstName);
            $('#author-lastname').text(data.lastName);

            var booksContainer = $('#books-container');
            data.books.forEach(function (book) {
                
                var bookElement = `
                    <div class="book mx-2 row col-4 border">
                    <div class="col-5 my-2">
                        <img src="data:image/png;base64,${book.cover}" alt="Book Cover" width="100">
                    </div>
                            <div class="col d-flex align-items-center">
                            <a class="h4" href='/book/index/${book.id}'>${book.name}</a>
                        </div>
                        <div class='col-10'>
                            <p style="white-space: nowrap;" class="text-truncate overflow-hidden">
                            ${book.description}
                        </div>
                        <div class='col-2'>
                           <span id="likes-count">
                           ${book.rating}
                            <i class="${book.youLikeIt ? 'bi bi-heart-fill' : 'bi bi-heart'}"></i>
                           </span> 
                        </div>
                        </p>
                    </div>
                    </div>
                `;
                
                booksContainer.append(bookElement);
            });
        }
    </script>
}